<h2 align="center"> Listing Files </h2>
<table align="center" cellpadding="5">
  <tr>
      <th align="left">Relation</th>
      <th align="left">Name</th>
      <th align="left">Type</th>
  </tr>
  <% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.user_id %></td>
    <td><%= attachment.name %></td>
    <td><%= attachment.format %></td> 
    <td><%= link_to 'Download Link', download_user_attachment_path(params[:user_id],attachment) %></td>
    <td><%= link_to 'Destroy', user_attachment_path(params[:user_id], attachment),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
 </table>
 <p align="center"><%= link_to 'New Upload', new_user_attachment_path %></p>
 <p align="center"><%= link_to 'Logout', logout_path %></p>
