<h2> Listing Files </h2>
<table>
  <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="2">Operations</th>
  </tr>
  <% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.name %></td>
    <td><%= attachment.format %></td> 
    <td><%= link_to 'Download Link', download_user_attachment_path(params[:user_id],attachment) %></td>
    <td><%= link_to 'Destroy', user_attachment_path(params[:user_id], attachment),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
 </table>
 <div class="footer">
 <%= link_to 'New Upload', new_user_attachment_path %>
 <%= link_to 'Logout', logout_path %>
</div>